<div class="container">
  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm" id="qr-code-wrap">
        <br/><br/><br/>
        Download SquareThingyWithFirebase from Google Play Store and use it to scan QR code presented below:
        <br/><br/><br/>
        <div id="qr-code"></div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>